*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url('img/day/clear.jpg');
    background-position: center;
    background-size: cover;
}

.weather-area{
    flex: 1;
    width: 100%;
    height: 100%;
}

.main-weather{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 22rem;
}

.weather-info{
    display: flex;
    align-items: center;
    gap: 30px;
}

#degress{
    font-size: 3.5rem;
}

#title-city{
    font-size: 1.6rem;
}

.cloud-info img{
    width: 70px;
}


/*Campo das  cidades*/
.cities-area{
    width: 43%;
    height: 100%;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.cities-area-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form{
    width: 100%;
    margin-bottom: 30px;
}

.form #search-city{
    width: 80%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    font-size: 1.2rem;
    height: 2.1rem;
}

.form #search-city::placeholder{
    color: #fff;
}

#btn{
    position: relative;
    margin-left: 20px;
    padding: 15px;
    background-color: #ccc;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

#btn:hover{
    background-color: chocolate;
}

.cities-options div{
    margin: 35px 0;
    color: #ccc;
    cursor: pointer;
}

.cities-options div:hover{
    color: #fff;
}

#sp::after,
#rec::after{
    content: " - BR";
}

#london::after{
    content: " - GB";
}

#paris::after{
    content: " - FR";
}

#ny::after{
    content: " - US";
}



.weather-details{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.weather-details h2{
    margin-top: 20px;
}

.weather-details .details{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#clouds,
#damp,
#wind{
    margin-right: 15px;
}

.details.down{
    margin-bottom: 20px;
}


#spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    display: none;
}


/*MEDIA QUERIES*/

@media(max-width: 910px){
    body{
        flex-direction: column;
    }

    .weather-area{
        height: 50%;
    }

    .main-weather{
        gap: 15px;
        align-items: center;
    }


    .cities-area{
        width: 100%;
    }
}